.topNavWrap{
	height: 31px;
    border-bottom: 1px solid #CACACA;
    background: #f3f3f3;
}
.topNavWrap a{
	line-height:31px;
	margin: 0px 5px;
}
.topNavWrap a:hover{
	text-decoration: none;
	color: #ff9900;
}
.l_topNavWrap{
	width: 250px;
	margin: 0px 6% 0px;
	float: left;
}
.r_topNavWrap  span{
	color: #e0d9d98a;
	height: 10px;
}
.r_topNavWrap{
	float: right;
	margin: 0px 6% 0px;
	width: 190px;
}
.header{
	height: 124px;
	margin: 0 6%;
}
.l-header{
	width: 50%;
	line-height:124px;
	float: left;
}
.l-header img{
	margin:25px 0;
}
.l-header a{
	float: left;
}
.r-header{
	width: 50%;
	float: left;
	line-height:124px;
}
.r-h-header{
	height: 62px;
}
.r-h-h-d{
	float:left;
	list-style:none;
	width:60px;	
	line-height:62px;
	text-align:center;
	margin:0 5px;
}
.r-b-header{
	height: 62px;
}
#bdcs-search-form-input{
	outline: none;
	width: 70%;
	float: left;
	border:1px solid #ff9900;
	background-color:#ffffff;
	text-indent: 5px;
}

#bdcs-search-form-submit{
	width: 18%;
	height: 30px;
    border: 1px solid #ff9900;
    background: #ff9900;
    color:#ffffff
}
#line{
	height:2px;
	color:#fff;
	background-color:#ff9900;
}
#nav{
	height: 43px;
}
.l-nav{
	width: 13%;
	height: 43px;
	background:#ff9900; 
	color:#FFF;
	line-height: 43px;
	padding: 0 0 0 2%;
	font-size:18px;
	float:left;
	margin: 0 0 0 6%;
}
.r-nav-list{
	float: left;
	font-size: 18px;
	line-height: 43px;
	text-align:center;
	width:7.55%;
}
#banner{
	height:380px;
}
.l-banner{
	width: 13%;
	margin:0 0 0 6%;
	height: 380px;
	float:left;
	background:#fed070; 
	color:#FFF;
}
.l-a-banner{
	padding: 0 0 0 10%;
	height: 64.1px;
	border-bottom:1px solid white;
	line-height: 40px;
}
.l-a-banner span{
	font-size: 16px;
    margin-bottom: 8px;
    display: block;
    height: 16px;
    width: 130px;
    color: #red;
}
.b-banner{
	float:left;
	width: 53%;
	height: 380px;
}
.r-banner{
	height:380px;
	width:22%;
	float:left;
	border-bottom:1px solid #f3f3f3;
	border-right:1px solid #f3f3f3;
}
.r-banner-title{
	font-size:16px;
	height:40px;
	color:#ff9900;
	line-height:40px;
	margin: 0 0 0 10px;
}
.report{
	float:right;
	font-size:14px;
	width: 20%;
	height:30px;
	line-height:30px;
	text-align:center;
	margin:10px 0 0 0;
}
.report-talk{
	margin:10px 10px 0 0;
}
.report-public{
	border:1px solid #ff9900;
	border-bottom:1px solid #f9f9f9;
}
.ad_info_tab li{
	vertical-align:middle;
	height:30px;
	width:90%;
	border-bottom:1px dashed #e0e0e0;
	line-height:30px;
	padding-left:5px;
	margin-left:10px;
}
.ad_info_tab li a{
	color:#666;
	font-size: 12px;
}
.ad_info_tab{
	border: 1px solid #f3f3f3;
	border-top:1px solid #ff9900;
	margin: 0 0 0 10px;
	width: 93%;
}
.r-banner-body{
	height: 96px;
}
.r-b-t{
	float: left;
	border: 1px solid #f3f3f3;
	height: 48px;
	width: 44%;
	line-height:48px;
	text-align:center;
	margin:5px 5px 5px 10px;
}
.r-banner-tab {
	width:93%;
	height:48px;
	line-height:48px;
	text-align:center;
	border: 1px solid red;
	margin:30px 0px 0px 10px;
	background:#ff9900; 
	color:#FFF;
}
.r-banner-tab a{
	color:#FFF;
	font-size:18px;
}

#contents{
	height: 373px;
	margin:0 6% 0 6%;
}
.l-title-contents{
	height:53px;
	width:75%;
	line-height:53px;
}
.l-body-contents{
	width:75%;
	height:320px;
	border: 1px solid #f3f3f3;;
	padding:20px 1% ;
	float:left;
}
.l-t-c-o{
	float: right;
	margin:0 2% 0 0 ;
}
.l-t-c-z{
    font-size:18px;
    margin:0 28% 0 3%;
}
.s-img{
	width:30%;
	height:120px;
	float:left;
}
.l-b-c-l-h-r-t{
	height:120px;
	line-height:60px;
}
.l-b-c-l-b{
	font-size:13px;
}
li{
   	list-style: none;
}
.l-b-c-l{
	float:left;
	width:50%;
}
.r-contents{
	width:24%;
	height:320px;
	border: 1px solid #f3f3f3;
	float:left;
	margin: 0px 0px 0px 10px;
}
.r-c-h{
	height:160px;
}

#konwledge{
	height: 231px;
	margin:0 6% 0 6%;
}
#advertisement{
	height:90px;
	margin:0 6% 0 6%;
	border: 1px solid #f3f3f3;
}
#advertisement img{
	height:90px;
}
.l-t-k-t{
    height:53px;
	line-height:53px;
}
.l-t-k-b{
	height:176px;
	border: 1px solid #f3f3f3;
}
.l-t-k-b img{
	height:100px;
	float:left;
}
.l-t-k-b-i {
	margin:10px 2.5%;
	width:20%;
	float:left;
}
.l-t-k-b-i a{
	width:100%;
	font-size:10px;
	display:block;
}
.l-title-konowledge{
	float:left;
	width:75%;
	height:231px;
}
.r-title-konowledge{
	float:left;
	width:24%;
	height:229px;
	margin:0 0 0 10px;
	border: 1px solid #F3F3F3;
}
.t-t-k-t{
	height: 53px;
	line-height:53px;
}
.t-t-k-b{
	height:120px;
}
.l_topNavWrap  span{
	color: #e0d9d98a;
	height: 10px;
}
.pic1{
	margin-top: 10px;
    float: left;
    margin-right: 5px;
    display: block;
    width: 18px;
    height: 18px;
}
.pic2{
	margin-top: 10px;
    float: left;
    margin-right: 5px;
    display: block;
    width: 18px;
    height: 18px;
}
.pic3{
	margin-top: 10px;
    float: left;
    margin-right: 5px;
    display: block;
    width: 18px;
    height: 18px;
}
.pic4{
	margin-top: 10px;
    float: left;
    margin-right: 5px;
    display: block;
    width: 18px;
    height: 18px;
}
.pic5{
	margin-top: 10px;
    float: left;
    margin-right: 5px;
    display: block;
    width: 18px;
    height: 18px;
}
.pic6{
	margin-top: 10px;
    float: left;
    margin-right: 5px;
    display: block;
    width: 18px;
    height: 18px;
}
.t-t-k-d-button{
	float:left;
	width:48%;
	height:40px;
	background:#ff9900; 
	color:#FFF;
	border: 1px solid red;
	margin: 5px 1% 5px 0;
	text-align: center;
	font-size:16px;
}
.zj{
	margin: 5px 0px 5px 3%;
}
.t-t-k-d-button a{
	line-height:40px;
	color:#FFF;
}

#magazine{
	margin:0 6%;
	height:229px;
}
.magazine-left{
	float:left;
	width:75%;
	height:229px;
}
.m-l-b-l{
	width:50%;
	height:176px;
	float:left;
}
.m-l-b-l img{
	float:left;
	width:40%;
	height:170px;
}
.m-l-b-r{
	width:50%;
	height:176px;
	float:left;
}
.magazine-left-body{
	height:176px;
	border:1px solid #f3f3f3;
}
.magazine-right{
	float:left;
	width:25%;
	height:229px;
}
.magazine-right-title{
	height:53px;
	line-height:53px;
}
.magazine-right-bottom{
	height:100px;
}
.magazine-right-body{
	height:76px;
}
.m-r-b-s{
    float: left;
    border: 1px solid #f3f3f3;
    height: 40px;
    width: 44%;
    line-height: 40px;
    text-align: center;
    margin: 5px 5px 5px 10px;
}
.magazine-right-x{
	margin:0px 0px 0px 10px;
	border:1px solid #f3f3f3;
}
#supply{
	margin:0 6%;
	height:880px;
}
.supply-left-title{
	height:53px;
}
.supply-left{
	float:left;
	width:75%;
	height:880px;

}
.supply-left-body{
	height:705px;
	border:1px solid #f3f3f3;
}
.supply-left-body img{
	width:23%;
	float:left;
	margin:1px 1%;
}
.supply-left-body i{
	height:38px;
}
.supply-get{
	width:50%;
	float:left;
}
.supply-right{
	float:left;
	width:24%;
	margin:0px 0px 0px 10px;
}
#span{
	height:53px;
}
.s-r-advertisement{
	margin:0px 5px 0px 0;
}
.supply-left-bottom{
	height:122px;
	
}
.business-title{
	height:36px;
	border-bottom:1px solid #f3f3f3;
	line-height:36px;
}
.supply-left-bottom-company img{
	width:15%;
	height:70px;
	float:left;
	margin:3px;
}
#agriculture-help{
	margin:0px 6%;
	height:574px;
}
.ah-l{
	float:left;
	width:75%;
	height:574px;
}
.ah-l-v-b-a{
	width:33.33%;
	float:left;
}
.ah-l-v-b{
	height:234px;
	border:1px solid #f3f3f3;
}
.ah-l-a-b dd{
	float:left;
	height:100px;
	width:50%;
}
.ah-l-a-b img{
	width:20%;
}
.ah-l-a-b{
	height:234px;
	border:1px solid #f3f3f3;
}
#picture{
	height:83px;
	margin:0 6%;
}
.ah-r{
	float:left;
	magrin:0 0 0 10px;
	height:574px;
	width:25%;	
}
.ah-r img{
	margin:10px 15px;
}
#link_wrap{
	height: 135px;
    background: #E8E8E8;
    margin-top: 50px;
}
#case{
	height:264px;
	margin:0 6%;
}
.case-demo{
	height:264px;
	width:20%;
	float:left;
	vertical-align: middle;
    text-align: center;
}
.case-demo img{
	padding-left: 28%;
}
#footer {
    height: 397px;
    background: #505050;
    padding-top: 45px;
}
.footer-all{
	margin:0 6%;
}
.footer-left ul{
	float:left;
}
.footer-left{
	float:left;
	width:60%;
}
.footer-middle{
	float:left;
	width:20%;
}
.footer-right{
	float:left;
	width:20%;
}
.actives{
    background: url(../../../../images/cat_search_li_bg.png) no-repeat center center;
}
.r-nav-list-detail{
	position: absolute;
    z-index: 10;
    height: 350px;
    width:7.55%;
    border-right: 1px solid #CCC;
    background: #F3E4C5;
    -moz-opacity: 0.80;
    opacity: 0.80;
    font-size:13px;
    color:#000;
    top:200px;
}
.r-nav-list-detail  a{
	display:block;
}
.r-nav-list-detail  a:hover{
	color:#ff9900;
}


